.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.main{
    background-color: aliceblue;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    padding: 15px;
    margin: 15px;
    border: 2px solid darkblue;
}
.cart-container{
    border: 2px solid darkblue;
}
@media screen and (max-width:576px) {
    .product-container{
        grid-template-columns: repeat(1, 1fr);
    } 
}